<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="my_plant_project.Properties.Settings.PlantsConnectionString"
            connectionString="Data Source=B310-02\SQLEXPRESS;Initial Catalog=Plants;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="my_plant_project.Properties.Settings.plantConnectionString"
            connectionString="Data Source=DESKTOP-6FFVP0D\SQLEXPRESS;Initial Catalog=plant;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>